#notifications {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
}
#notifications p {
    background: white;
    padding: 1em;
    margin: 0;
    border: 1px solid black;
}

.w-100 {
    width: 100%;
}

.savebtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.pure-checkbox {
    width: 2em;
    height: 2em;
}

tr.strikethrough {
    position: relative;
}

tr.strikethrough:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 3px solid black;
    pointer-events: none;
}

input[type="number"] {
    width: 5em;
}
th,td {
    width: 0;
}
textarea {
    width: 100%;
    resize: vertical;
    min-width: 200px;
}

.handle {
    font-size: 2em;
    font-weight: bold;
    cursor: grab;
}

.pure-table td, .pure-table th,
.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
    padding: 4px;
}

.pure-table thead {
    position: sticky;
    top: 0;
}

input[name="taskname"] {
    width: 25em;
}