:root {
    --bg-dark: #121212;
    --accent-dark: #373737;
    --accent-light: #d7d7d7;
    --white: #ffffff;
    --black: #000000;
    --primary-dark: #3146b8;
    --primary:#358cff;
    --primary-light: #49aaff;
    --secondary-dark: #f47e1c;
    --secondary: #ffa835;
    --secondary-light: #ffe0b5;
    --transition-duration: 0.3s;
    --transition-timing-function: ease;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-dark);
    color: var(--white);
    margin: 0;
    padding: 0;
}
body.light {
    background: var(--white);
    color: var(--black);
}

#notifications {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
    z-index: 99;
}
#notifications p {
    background: var(--accent-dark);
    padding: 1em;
    margin: 0;
    border: 1px solid black;
}
body.light #notifications p {
    background: var(--accent-light);
}

.w-100 {
    width: 100%;
}

.savebtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.pure-checkbox {
    width: 2em;
    height: 2em;
}

tr.strikethrough {
    position: relative;
}

tr.strikethrough:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 3px solid black;
    pointer-events: none;
}

th,td {
    width: 0;
}
textarea {
    resize: none;
}

.handle {
    font-size: 2em;
    font-weight: bold;
    cursor: grab;
}

.wrap {
    flex-wrap: wrap;
}

.btn {
    border-radius: 100rem;
    border: none;
    cursor: pointer;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: filter;
    background-color: transparent;
}

.btn:hover {
    filter: brightness(125%) drop-shadow(0 0 2px rgba(0,0,0,0.5));
}

.bg-primary {
    background-color: var(--primary);
    color: var(--black);
}

.btn-circle {
    width: 3rem;
    height: 3rem;
}

.btn-icon {
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-icon-add {
    background-image: url('../src/icons/add_FILL0_wght400_GRAD0_opsz48.svg');
}

.bg-accent {
    background-color: var(--accent-dark);
}
body.light .bg-accent {
    background-color: var(--accent-light);
}

.topbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 3rem;
    z-index: 200;
}

.btn-icon-menu {
    background-image: url('../src/icons/menu_FILL0_wght400_GRAD0_opsz48.svg');
}

.float-right {
    float: right;
}

.menu {
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    width: 20rem;
    max-width: 100vw;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: transform;
    background-color: var(--accent-dark);
    transform-origin: right;
    padding: 0.5rem;
    z-index: 300;
    transform: none;
    border-left: 1px solid black;
}
body.light .menu {
    background-color: var(--accent-light);
}

.menu:not(.active) {
    transform: translateX(100%);
}

.btn-icon-close {
    background-image: url('../src/icons/close_FILL0_wght400_GRAD0_opsz48.svg');
}

.menu>.row>h3 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.align-items-center {
    align-items: center;
}

.body-inactive:before {
    content: "";
    background: rgba(0,0,0,0.5);
    inset: 0;
    z-index: 100;
    position: fixed;
}

.p-1 {
    padding: 1rem;
}
.p-l-1 {
    padding-left: 1rem;
}
.p-r-1 {
    padding-right: 1rem;
}

.header {
    display: none;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-20 {
    width: 20%;
}

.grow {
    flex-grow: 1;
}

/* CARD DESIGN */
.card {
    width: 28rem;
    max-width: 100%;
    margin: 0.25rem auto;
    background: #dddddd;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    break-inside: avoid-column;
    position: relative;
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.card-header {
    display: block;
    width: 100%;
}
.card [name="taskdone"] {
    width: 2rem;
    height: 2rem;
    margin: 0;
}
.card .handle {
    width: 2rem;
    height: 2rem;
    cursor: grab;
    background-image: url("./icons/open_with_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.img-prio {
    background-image: url("./icons/priority_high_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-right: 0.5rem;
}
.img-think {
    background-image: url("./icons/psychology_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin-right: 0.5rem;
}
.img-trash {
    background-image: url("./icons/delete_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    cursor: pointer;
    background-color: white;
}
.img-txt {
    background-image: url("./icons/file_present_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: block;
}
.img-import {
    background-image: url("./icons/upload_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: block;
}

#time {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card [type="number"] {
    display: block;
    width: 3.5rem;
    height: 1.5rem;
}

.card [name="taskname"] {
    font-weight: bold;
    font-size: 1.25em;
}

/* RESPONSIVE SM */
@media screen and (min-width: 550px) {
    .header {
        display: flex;
    }
}

.card-container {
    display: block;
    column-count: auto;
    column-fill: balance;
    column-width: 28rem;
    column-rule: 0.25rem solid black;
    column-gap: 0.5rem;
}

.divider {
    background: #484848;
}
[name="dividertext"] {
    color: white;
    background: gray;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 1.5em;
    width: 100%;
    display: block;
}

.bg-secondary {
    background-color: var(--secondary);
}

.button-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    z-index: 99;
}

.p-05 {
    padding: 0.5rem;
}

.card.strikethrough:before {
    background-image: url("./icons/done_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: white;
    content: "";
    z-index: 10;
    opacity: 0.5;
}

.lastsave {
    position: absolute;
    left: 12rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

summary {
    cursor: pointer;
}

.iconbtn {
    display: flex;
    align-items: center;
}

/* CARD DUE STATUS */
.status-start-past {
    background: cyan;
}
.status-start-today {
    background: green;
}
.status-end-today {
    background: yellow;
}
.status-end-past {
    background: red;
}

.card.strikethrough {
    background: #dddddd;
}


.content {
    padding-bottom: 5rem;
}

.d-none {
    display: none !important;
}

.textarea-buttons {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: grey;
}